.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hidden-element{
    display:none;
}

textarea{
    overflow: auto;
}

.task-text-row{
    white-space: pre-line;
    overflow: auto;
    height: 200px;
}