html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/main.css" rel="stylesheet")
        title= `Ошибка`
    body
        div.container
            div.container#jumbotron
                div.jumbotron
                    h1 DIRECTUM Viewer
                    p Извините, возникла непредвиденная ошибка в работе программы
        //подключаем необходимые скрипты
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")