html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/main.css" rel="stylesheet")
        title= `Directum Viewer: Ошибка`
    body
        div.container
            h3= `Возникли проблемы с получением задания (ИД=${id}).`
            div.alert.alert-warning
                p= `Сообщение системы: ${message}`
        //подключаем необходимые скрипты
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")